:root {
  --anti-flash-white: #fafafa;
  --very-dark-gray: #111;
  --white-color: #fff;
  --orange-color: #fd9222;
  --dark-purple: #1e1823;
  --warm-shade: #fcf1e0;
  --semi-transparent-white-one: rgba(255, 255, 255, 0.5);
  --semi-transparent-white-two: rgba(255, 255, 255, 0.7);
}

body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  background-color: var(--anti-flash-white);
}

button {
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 375px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ==================== HEADER ==================== */

.section-header {
  padding-top: 20px;
  padding-bottom: 14px;
}

.container-header {
  display: flex;
  justify-content: space-between;
}

.logo-header {
  display: flex;
  gap: 4px;
  align-items: center;
}

.logo-header-text {
  color: var(--very-dark-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.42px;
}

.span-header {
  font-style: italic;
}

.logo-header-icon {
  width: 21px;
  height: 21px;
}

nav {
  display: none;
}

.social-header {
  display: none;
}

.menu-header {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

/* ==================== MAIN ==================== */
/* ========== HERO========== */

.hero {
  padding-right: 20px;
  padding-left: 20px;
}

.container-hero {
  background-image: linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.4)),
    url("../images/hero/bg-hero-mob2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-sizing: border-box;
  padding-top: 395px;
  padding-bottom: 20px;
}

.header-hero {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
  letter-spacing: -0.6px;
  max-width: 280px;
}

.buttons-hero-click {
  display: flex;
  gap: 14px;
  margin-top: 32px;
}

.button-buy-now-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border: 1px solid var(--white-color);
  min-width: 120px;
  min-height: 41px;
  border-radius: 100px;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.button-buy-now-hero:hover,
.button-buy-now-hero:focus {
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
}

.button-how-made-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border: 1px solid var(--white-color);
  width: 100%;
  min-height: 41px;
  border-radius: 100px;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.button-how-made-hero:hover,
.button-how-made-hero:focus {
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
}

.container-buttons-hero-scroll {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}

.scroll-text {
  color: var(--white-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  /* 116.667% */
  letter-spacing: -0.36px;
}

.scroll-icon-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--orange-color);
  border-radius: 50%;
  padding: 6px;
  width: 16px;
  height: 16px;
  background-color: var(--white-color);
  cursor: pointer;
}
